/* ============Global Styles================ */

body {
  font-family: 'Cinzel', serif;
  text-align: center;
  background-image: url(../images/6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  margin: 0;
  padding: 0;
}

.welcome {
    font-size: 2.5rem;
    font-weight: bold;
    color: #b0ecb3;
    text-shadow: 2px 2px 2px rgb(16, 18, 16);
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(94, 131, 96);
  text-shadow: 2px 2px 2px rgb(16, 18, 16);
}

.link {
  display: block;
  color: #b0ecb3;
  text-align: center;
  padding: 14px 16px;
  font-size: 1.6rem;
  text-decoration: none;
}

button:hover {
  background-color: rgb(31, 69, 36, 0.64);
  color: #ddf1de;
}

/* ============navBar================ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1;
}

.navBar {
  position: relative;
  width: 100%;
  margin-bottom: 4rem;
}

.navBar button {
  display: none;
  padding: 1em;
  background: none;
  border: none;
  cursor: pointer;
}

.navBar ul {
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(1, 24, 14, 0.71);
  box-shadow: 2px 2px 2px rgb(16, 18, 16);
  padding: 0;
  margin: 0;
  font-weight: bold;
  list-style: none;
  display: flex;
}

.navBar ul li a {
  display: flex;
  align-items: center;
  padding: 1em;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 0 10px;
}

.navBar ul li a svg {
  margin-right: 0.5em;
  color: #7eed84;
}

.navBar ul li a:hover {
  color: #7cf952;
}

.navBar ul li a.active {
  color: #f4efef;
}

@media (max-width: 767px) {
  .navBar {
    margin-bottom: 1rem;
  }

  .navBar button {
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(1, 24, 14, 0.71);
    color: #7eed84;
    display: block;
    width: 100%;
    text-align: left;
  }

  .navBar ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 0;
    display: none;
  }

  .navBar ul.open {
    display: block;
    position: relative;
  }
}

/* ============Board================= */
.board-row {
  display: flex;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

/* ============Game Styles================ */

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
}

.game-info {
  color: #afeab2;
  text-shadow: 2px 2px 2px rgb(16, 18, 16);
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 30px 30px 5px 30px;
  background-color: rgba(15, 11, 20, 0.593);
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  max-width: 300px;
}

.game-info button {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  color: #8bb88e;
  background: rgb(1, 24, 14);
  border: 1px solid rgb(56, 73, 57);
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.game-info button:hover {
  background-color: rgb(31, 69, 36, 0.64);
  color: #ddf1de;
  border: 1px solid #00ff0e;
  transform: scale(1.05);
}

.game-board {
  border-radius: 5px;
}

@media (max-width: 768px) {
  .game {
    flex-direction: column;
  }
}

/* ============Square================ */

.square {
  width: 100px;
  height: 100px;
  font-size: 2em;
  line-height: 34px;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin-right: -1px;
  margin-top: -1px;
  float: left;
  cursor: pointer;
  background-color: rgba(15, 11, 20, 0.4);
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  border: 1px solid rgb(31, 69, 36);
  color: #b0ecb3;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.winning-square {
  background: rgba(34, 255, 0, 0.52);
  border: 1px solid #00ff0e;
  color: white;
  transition: all 0.2s ease-in-out;
}

/* ============Form================ */

.player-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.player-form {
  padding: 20px;
  list-style: none;
  background-color: rgba(15, 11, 20, 0.593);
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  border-radius: 5px;
}

label {
  font-weight: bold;
  display: block;
  font-size: 1.2rem;
  color: #dbffdd;
}

label input {
  margin-left: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #405241;
}
/* ====================== */
select.player {
  margin-left: 10px;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 10px;
  border-color: #405241;
  background-color: #405241;
  color: #e0ffe2;
}
.start-game-btn {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  color: #8bb88e;
  background: rgb(1, 24, 14);
  border: 1px solid rgb(56, 73, 57);
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.start-game-btn:hover {
  background-color: rgb(31, 69, 36, 0.64);
  color: #ddf1de;
  border: 1px solid #00ff0e;
  transform: scale(1.05);
}

/* ============ScoreBoard================ */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.player-card {
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
  background-color: rgba(15, 11, 20, 0.593);
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  display: block;
}

.player-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #3d6340a6;
  box-shadow: 1px 1px 5px rgb(127, 240, 143), -5px -5px 30px rgb(75, 126, 68);
}

.player-img > svg {
  width: 50px;
  height: 50px;
  margin: 25px;
}

.card-info {
  color: #dbffdd;
  font-size: 1rem;
  text-shadow: 2px 2px 2px rgb(16, 18, 16);
  margin-top: 10px;
}
.card-info > p > svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: #7eed84;
}

@media (max-width: 767px) {
  .player-card {
    width: 100%;
  }
}

/* ============podium================ */
.top-three {
  display: flex;
  justify-content: center;
}

.top-three ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 10px 30px;
}

.top-three li {
  margin-left: 30px;
  margin-right: 30px;
  color: #dbffdd;
  font-size: 1.2rem;
  font-weight: bold;
}

.first-place, .second-place, .third-place {
  width: 300px;
  height: 300px;
}

.name-winner {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000000;
  color: #50e1d4;
}

.podium img {
  transition: 0.3s;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 15, 15));
}

.podium img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px 20px 20px rgba(0, 0, 30, 30));
}

@media (max-width: 767px) {
  .top-three ul {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .top-three li {
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }
}

/* ============@media================ */

@media only screen and (max-width: 600px) {
  .game-board {
    max-width: 100%;
  }
}


