/* ============Global Styles================ */

body {
  font-family: 'Cinzel', serif;
  text-align: center;
  background-image: url(../images/6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgb(94, 131, 96);
  text-shadow: 2px 2px 2px rgb(16, 18, 16);
}

.game-info button {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  color: #8bb88e;
  background: rgb(1, 24, 14);
  border: 1px solid rgb(56, 73, 57);
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.link {
  display: block;
  color: #b0ecb3;
  text-align: center;
  padding: 14px 16px;
  font-size: 1.6rem;
  text-decoration: none;
}

button:hover {
  background-color: rgb(31, 69, 36, 0.64);
  color: #ddf1de;
}
/* ============Board================= */
.board-row {
  display: flex;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

/* ============Game Styles================ */

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game-info {
  color: #afeab2;
  text-shadow: 2px 2px 2px rgb(16, 18, 16);
  font-size: 1.5rem;
  order: 1;
  border-radius: 5px;
  padding: 30px 30px 5px 30px;
  background: rgba(36, 44, 37, 0.5);
  box-shadow: 2px 2px 2px rgb(16, 18, 16);
  max-width: 300px;
  margin-top: 100px;
  margin-bottom: 150px;
}

.game-board {
  order: 2;
  margin: 30px;
  border-radius: 5px;
  padding: 40px;
  max-width: 600px;
}

/* ============Square================ */

.square {
  width: 100px;
  height: 100px;
  font-size: 2em;
  line-height: 34px;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin-right: -1px;
  margin-top: -1px;
  float: left;
  cursor: pointer;
  background: rgba(1, 24, 14, 0.639);
  border: 1px solid rgb(31, 69, 36);
  color: #b0ecb3;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.winning-square {
  background: rgba(34, 255, 0, 0.52);
  color: white;
  transition: all 0.2s ease-in-out;
}

/* ============navBar================ */

.navBar > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background: rgba(36, 44, 37, 0.5);
  box-shadow: 2px 2px 2px rgb(16, 18, 16);
  border-radius: 5px;
  padding: 10px 30px;
  font-weight: bold;
}

/* ============Form================ */

.player-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.player-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 30%;
  list-style: none;
  background: rgba(36, 44, 37, 0.5);
  box-shadow: 2px 2px 2px rgb(16, 18, 16);
  border-radius: 5px;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
  font-size: 1.2rem;
  color: #dbffdd;
}

label input {
  margin-left: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #405241;
}
/* ====================== */
select.player {
  margin-left: 10px;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 10px;
  border-color: #405241;
  background-color: #405241;
  color: #e0ffe2;
}
.start-game-btn {
  background-color: #0f7d14;
  color: #023204;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.3rem;
}

.start-game-btn:hover {
  background-color: #00ff0e;
}

/* ============ScoreBoard================ */
.scoreboard {
  margin: 20px auto;
  max-width: 800px;
}

.scoreboard h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.scoreboard table {
  width: 100%;
  border-collapse: collapse;
}

.scoreboard th,
.scoreboard td {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
}

.scoreboard tr {
  background-color: rgba(36, 41, 36, 0.72);
}
.scoreboard thead {
  color: #01cb8bd1;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 5px 5px 5px #000000;
}

.scoreboard th {
  font-weight: bold;
}

.scoreboard tbody tr:nth-child(even) {
  background-color: #0aab7899;
  color: #ffffff;
}
.scoreboard tbody tr:nth-child(odd) {
  color: #83d9d0;
  text-shadow: 5px 5px 5px #000000;
}
.scoreboard tbody td{
  font-size: 1.2rem;
}
.scoreboard thead {
  background-image: url("/public/images/rock.jpg");
  background-size: cover;
}
/* ============podium================ */
.top-three {
  display: flex;
  justify-content: center;
}
.top-three ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  background: rgba(36, 44, 37, 0.5);
  box-shadow: 2px 2px 2px rgb(16, 18, 16);
  border-radius: 5px;
  padding: 10px 30px;
}

.top-three li {
  margin-left: 30px;
  margin-right: 30px;
  color: #dbffdd;
  font-size: 1.2rem;
  font-weight: bold;
}

.first-place {
  width: 300px;
  height: 300px;
}

.second-place {
  width: 300px;
  height: 300px;
}

.third-place {
  width: 300px;
  height: 300px;
}

.name-winner {
  background-image: url("/public/images/rock.jpg");
  background-size: cover;
  padding: 10px;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000000;
  color: #50e1d4;
}

.number-games {
  font-size: 1.2rem;
  font-weight: bold;
  color: #50e1d4;
  text-shadow: 2px 2px 2px #000000;
  margin: 1rem;
}
/* ============@media================ */

@media only screen and (max-width: 600px) {
  .game-board {
    max-width: 100%;
  }

  .square {
    font-size: 18px;
    height: 40px;
    line-height: 28px;
    width: 40px;
  }
}


